@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blueviolet;
}

.navbar{
    height: 3em;
    width: 80%;
    margin-top: 2px;
    background-color: rgb(148, 151, 153);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 0 50px 50px 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar .nav{
    height: 50%;
    width: 90%;
    padding-top: 10px;
    margin-left: 10px;
}

.navbar .nav a{
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    transition: all 300ms;
    border-radius: 4px;
}

.navbar .nav a:hover{
    background-color: rgba(255, 221, 0, 0.87);
    color: black;
}

.container{
    height: 600px;
    width: 80%;
    background-color: rgb(238, 241, 241);
    margin: auto;
    margin-top: 4em;
    border-radius: 8px;
    padding: 10px;
}

footer{
    display: block;
    float:unset;
    height: 4em;
    width: 100%;
    margin-top: 4em;
    background-color: rgb(148, 151, 153);
    text-align: center;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    bottom: 0%;
}

